{% load static %}

<!DOCTYPE html>
<html lang="en">
<style>
  body {
    background-color: #ffffff;
  }
</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

</head>

<body>

  <br>
  <br>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <style>
  .container {
      display: inline-block;
      cursor: pointer;
      position: relative;
  }

  .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
  }

  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
  }
  </style>
  </head>
  <body>

  <div class="container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <script>
  function myFunction(x) {
      x.classList.toggle("change");
  }
</script> -->

  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #95CBF2;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

/* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #65a2ce;
    }
    </style>
<header>
  {% if user.is_authenticated %}
  <ul>
    <li><a href="http://localhost:8000/rewards/charts/">Account Graphs</a></li>
    <li><a href="http://localhost:8000/rewards/personlist/">Friends</a></li>
    <li><a href="http://localhost:8000/rewards/goods/">Purchase Store</a></li>
    <li><a href="http://localhost:8000/rewards/investments/">Investments</a></li>
    <li><a href="http://localhost:8000/rewards/tasklist/">Task List</a></li>
    <li><a href="http://localhost:8000/rewards/blank/">Help</a></li>
    <li><a href="http://localhost:8000/rewards/blank/">Contact Us</a></li>
  </ul>
  <style>
  .first {
    position: absolute;
  }
  </style>
  <!-- {{ user.username }} -->
  <p class="first" style="float:left;"><font size="3">Kidkash</font></p>
  <p style="float:right;"><a href="{% url 'logout' %}"><font color="#ff0000">Logout</font></a></p>
</header>
    <!-- <p align="left"><a href="{% url 'password_reset' %}">reset password</a></p> -->
  <center>
  {% else %}
    <ul>
      <li><a href="http://localhost:8000/rewards/blank/">Account Graphs</a></li>
      <li><a href="http://localhost:8000/rewards/personlist/">Friends</a></li>

      <li><a href="http://localhost:8000/rewards/blank/">Purchase Store</a></li>
      <li><a href="http://localhost:8000/rewards/blank/">Investments</a></li>
      <li><a href="http://localhost:8000/rewards/blank/">Task List</a></li>
      <li><a href="http://localhost:8000/rewards/blank/">Help</a></li>
      <li><a href="http://localhost:8000/rewards/blank/">Contact Us</a></li>
    </ul>
    <center><h1>You are not logged in!</h1></center>
    <center><a href="{% url 'login' %}"><font color="#ff0000">Login</font></a></center>

  {% endif %}

  {% block content %}
  {% endblock %}

  </center>
</body>
</html>
