{% extends 'rewards/base.html' %}
{% block content %}


<h1><a href="http://localhost:8000/rewards/screentime/">Screentime</a> <u>Goods</u> <a href="http://localhost:8000/rewards/custom/">Custom</a> </h1>



<hr>

<div class="container">
  <form action="." method = "POST">
    {% csrf_token %}

    <!--
    <hr>
    {% for i,j in data %}
    {{i}}   {{j}}
    {% endfor %}

    <hr>
    {% for choice in form.choice_field %}
    {{ choice.choice_label }}
    <span class="radio">{{ choice.tag }}</span>
    {% endfor %}

    <hr>
    {% for reward in reward_list %}
    {{ forloop.counter0 }} {# starting index 0 #}

    {% endfor %}

    <hr>

{{ form.choice_field.0 }}
{{ form.choice_field.1 }}

<hr>
  -->

<table border="1" cellspacing="2" cellpadding="2" width="100%">
  <tbody>
  <tr>
  <td valign="top">Name<br>
  </td>
  <td valign="top">Image<br>
  </td>
  <td valign="top">Kikas<br>
  </td>
  <td valign="top">Buy?<br>
  </td>
  </tr>

{% for reward in reward_list %}
  {% if reward.category == 'Goods' %}
  <tr>
    <td valign="top"><h5>{{ reward.name }}</h5><br>
    </td>
    <td valign="top"><img src="http://127.0.0.1:8000/static/{{ reward.picture }}" width="500" height="400"><br>
    </td>
    <td valign="top"><h5>kikas: {{ reward.kikas }}</h5><br>
    </td>
    <td valign="top"><span class="radio"><input type="radio" name="choice_field" value="{{reward.id}}" id="id_choice_field_{{reward.id}}" required></span><br>
    </td>
    </tr>

  {% endif %}
{% endfor %}

</tbody>
</table>
<button type="submit" class="btn">Buy!!</button>
</form>


{% endblock %}
</div>
