{% extends 'rewards/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<h1><b>Friends</b></h1>


{% for user in user_balance_list %}
<table border="1" cellspacing="1" cellpadding="1" width="25%">
    <tbody>
    <tr>
    <td valign="center"><center>{{ user }}</center>
    </td>
  </tr>
</table>
{% endfor %}

<!--{% for user in user_balance_list %}
{{ user }}
<table border="1" cellspacing="2" cellpadding="2" width="100%">
    <tbody>
    <tr>
    <td valign="top">Name<br>
    </td>
    <td valign="top">Action Date<br>
    </td>
    <td valign="top">Current Balance (kikas)<br>
    </td>
    </tr>
  {% for person in person_list %}
    <tr>
      <td valign="top"><h3>{{ person.user}}</h3><br>
      </td>
      <td valign="top"><h3>{{ person.action_date }}</h3><br>
      </td>
      <td valign="top"><h3>{{ person.current_balance }}</h3><br>
      </td>
      </tr>
    </tbody>
  {% endfor %}
</table>
{% endfor %} -->
{% endif %}
{% endblock %}
