{% extends 'rewards/base.html' %}
{% block content %}

<p class="vertical-text">Screentime Goods Custom</p>

{% for reward in reward_list %}
<h5>{{ reward.name }}</h5>
<img src="http://127.0.0.1:8000/static/{{ reward.picture }}" width="500" height="400">
<h5>kikas: {{ reward.kikas }}</h5>

{% endfor %}


{% endblock %}
