{% extends 'rewards/base.html' %}

{% block content %}
    <h2>New Reward</h2>
    <form method="POST" class="reward-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}