{% extends 'rewards/base.html' %}
{% block content %}
    <div class="reward">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'reward_edit' pk=reward.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ reward.name }}</h2>
        <img src="http://127.0.0.1:8000/static/{{ reward.picture }}">
        <h5>Kikas: {{ reward.kikas }}</h5>
    </div>


{% endblock %}
