{% extends 'rewards/base.html' %}
{% block content %}
<br>
<br>
<center><h1><b>Task List</b></h1></center>
{% for task in task_list %}
  <img src="http://127.0.0.1:8000/static/{{ task.picture }}" width="500" height="400">
  <h5>{{ task.name }} Kikas: {{ task.kikas}}</h5>
{% endfor %}
{% endblock %}
