{% extends 'rewards/base.html' %}
{% block content %}
{% load static %}
<center>
    <head>
        <title>django-chartjs line chart demo</title>
    </head>
    <body>
      <h1><b>My Kidkash Checking</b></h1>

      <canvas id="myChart2" width="500" height="400"></canvas>

      <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
      <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
      <script type="text/javascript">
          $.get('{% url "line_chart_json2" %}', function(data) {
              var ctx = $("#myChart2").get(0).getContext("2d");
              new Chart(ctx, {
                  type: 'line',
                  data: data,

                  options: {
                      responsive: false,
                      datasetFill: false,
                      //maintainAspectRatio: false
                  }

              });
          });
        </script>
        <h1>My Kidkash Investments</h1>

        <canvas id="myChart" width="500" height="400"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: false,
                        //maintainAspectRatio: false
                    }

                });
            });
        </script>
    </body>
</center>

{% for user in user_balance_list %}
{{ user }}

<table border="1" cellspacing="2" cellpadding="2" width="100%">
</table>
{% endfor %}
{% endblock %}
</html>
