{% extends 'rewards/base.html' %}
{% block content %}
<h1><b>Purchase Store</b></h1>

<h1 style="rotate(270deg)"><a href="http://localhost:8000/rewards/screentime/"><font color="#95CBF2">Screentime</font></a> <u>Goods</u> <a href="http://localhost:8000/rewards/custom/"><font color="#95CBF2">Custom</font></a> </h1>

<hr>

<div class="container">
  <form action="." method = "POST">
    {% csrf_token %}

    <!--
    <hr>
    {% for i,j in data %}
    {{i}}   {{j}}
    {% endfor %}

    <hr>
    {% for choice in form.choice_field %}
    {{ choice.choice_label }}
    <span class="radio">{{ choice.tag }}</span>
    {% endfor %}

    <hr>
    {% for reward in reward_list %}
    {{ forloop.counter0 }} {# starting index 0 #}

    {% endfor %}

    <hr>

{{ form.choice_field.0 }}
{{ form.choice_field.1 }}

<hr>
  -->

<table border="1" cellspacing="2" cellpadding="2" width="100%">
  <tbody>
  <tr>
  <td valign="top">Name<br>
  </td>
  <td valign="top">Image<br>
  </td>
  <td valign="top">Kikas<br>
  </td>
  <td valign="top">Buy?<br>
  </td>
  </tr>

{% for reward in reward_list %}
  {% if reward.category == 'Goods' %}
  <tr>
    <td valign="top"><h5>{{ reward.name }}</h5><br>
    </td>
    <td valign="top"><img src="http://127.0.0.1:8000/static/{{ reward.picture }}" width="500" height="400"><br>
    </td>
    <td valign="top"><h5>Kikas: {{ reward.kikas }}</h5><br>
    </td>
    <td valign="top"><span class="radio"><input type="radio" name="choice_field" value="{{reward.id}}" id="id_choice_field_{{reward.id}}" required></span><br>
    </td>
    </tr>

  {% endif %}
{% endfor %}

</tbody>
</table>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
</head>
<body>

<!-- Trigger/Open The Modal -->
<button id="myBtn" onclick="document.getElementById('id01').style.display='block'" type="submit">Buy!</button>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Buy this product?</p>
    <button id="yesBtn" onclick="document.getElementById('id01').style.display='block'" style="float:left" type="submit">Yes</button>

    <button id="noBtn" onclick="document.getElementById('id01').style.display='block'" style="float:right" type="submit">No</button>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</form>


{% endblock %}
</div>
