{% extends 'budget/base.html' %}
{% block content %}

<center>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{% url 'password_reset' %}">reset password</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
</center>

<div class="container">

  <h1>My Projects</h1>
  <hr>
  <div class="row">
    {% for project in project_list %}
    <div class="col s12 md6 x13">
      <div class="card-panel">
        <h5>{{ project.name }}</h5>
        <a href="{% url 'detail' project.slug %}" class="btn">Visit</a>
      </div>
    </div>
    {% empty %}
    <div class="noproject-wrapper center">
      <h3 class="grey-text">Sorry, you don't have any projects, yet.</h3>
      <a href="" class="btn-large grey">
        <i class="material-icons white-text left">add_circles</i>
        <spam class="bold">Add Project</spam>
      </a>
    </div>
    {% endfor %}
  </div>


</div>

{% endblock %}
